.formattedAmountNum {
  font-family: 'Titan One', serif;
  font-size: 4rem;
  color: rgb(28, 55, 207);
}

.formattedAmountSign {
  font-family: 'Titan One', serif;
  font-size: 2rem;
  color: #4f7ccf;
  transform: translateY(-0.6rem);
  text-shadow: 1 1 4px 4px #13336e;
}
